    {% extends 'base.html' %}
    {% block body %}
        
    
   
<div class='container my-3'>
  <h2>Add a Todo</h2>
  <form action="/" method=POST>
    <div class="form-floating mb-3">
  <input type="text" class="form-control" name="title" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">text </label>
</div>

<div class="form-floating"> 
  <input type="text description" class="form-control" name="description" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">text description</label>

</div>
<div class="container my-3">
 <button type="submit" class="btn btn-outline-dark btn-sm">SUBMIT</button>

</div>

<div class = "container my-3">
  <h2>My Todos</h2>
  <table class="table my-3">

   {% if allTodo|length==0 %}
<div class="alert alert-dark" role="alert">
  Add your first Todo!
</div>  
    
   {% else %}
   <table class="table my-3">
  <thead>
    <tr>
      <th scope="col">sno</th>
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">date_created</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    
   

    {% for Todo in allTodo %}
        <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{Todo.title}}</td>
      <td>{{Todo.description}}</td>
      <td>{{Todo.date_created}}</td>
      <td><a href ="/update/{{Todo.sno}}"button type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button></td>
      <td><a href ="/delete/{{Todo.sno}}"button type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button></td>
    </tr>
    </tbody>
  </table>

      
    {% endfor %}
     {% endif %}

 
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  
    {% endblock body %}